<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MECIS</title>
    ​<style> 
      .flex-column {
        display: flex;  
        flex-direction: column;
        padding: 0px; 
      }
      .flex-row {
        display: flex;  
        flex-direction: row;
        padding: 0px; 
      }
      header {
        background: #91bd44;
        color:black;
      }
      .nav {
        background:#eee; 
        padding: 15px; 
      }
      main {
        padding: 15px;
      }
      
      table {
          width: 100%;
          border-collapse: collapse;
      }
      table, td, th {
          border: 1px solid black;
          padding: 5px;
      }
      th {text-align: left;}
    </style>  
  </head>
  <body>
    
    ​<div class="flex-column">
      <header>
        <h1><img src="mecis_logo" alt="Mecis Logo"> MECIS</h1>
      </header>
      ​<div class="flex-row">
        <nav class="nav">
          <a href="#">About</a><br>
          <a href="#">Paris</a><br>
          <a href="#">Tokyo</a>
        </nav>
        <main>
          <p><b>Please select the parameters for the desired intervention set and press the submit button.</b></p>
          <form>
            <label>Organism:</label>
            <select id="organism">
              <option value="">Select an organism</option>
              {{#each organism}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label>Model name:</label>
            <select id="p1">
              <option value="None">Select a model</option>
              {{#each model}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <br><br>
            <label>Substrate intake reaction:</label>
            <select id="p2">
              <option value="None">Select a reaction</option>
              {{#each inreac}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label>Product excretion reaction:</label>
            <select id="p3">
              <option value="None">Select a reaction</option>
              {{#each exreac}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <br><br>
            <label>Min biomass yield:</label>
            <select id="p4">
              <option value="NaN">Select a value:</option>
              {{#each mby}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label>Min product yield:</label>
            <select id="p5">
              <option value="NaN">Select a value:</option>
              {{#each mpy}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label>Scenario:</label>
            <select id="p6">
              {{#each scen}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <br>
            <br>
            <label>These reactions must be included:</label> <input type="text" id="mustin" size=80 value=""><br>
            <label>These reactions are not allowed:</label> <input type="text" id="forbidden" size=80 value=""><br>
            <br>
            <br>
          </form>
          <button type="button" onclick="showCIS()">Submit Query!</button> 
          <div id="txtHint"><br><b>Intervention set info will be listed here.</b></div>
          <div id="misResults"></div>
        </main>
      </div> <!--row-->
    </div><!--column-->
  </body>
  <script>
  function showCIS() {

    var p0 = document.getElementById("organism").value;
    var p1 = document.getElementById("p1").value;
    var p2 = document.getElementById("p2").value;
    var p3 = document.getElementById("p3").value;
    var p4 = document.getElementById("p4").value;
    var p5 = document.getElementById("p5").value;
    var p6 = document.getElementById("p6").value;
    var mustin = document.getElementById("mustin").value;
    var forbidden = document.getElementById("forbidden").value;
    
    if (p0=="") {
      document.getElementById("txtHint").innerHTML="<p>You need to select an organism!</p>";
      return;
    }
    document.getElementById("txtHint").innerHTML="<br>Processing query ..";
    document.getElementById("misResults").innerHTML="<br>Please wait!";
    if (window.XMLHttpRequest) {
      // code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
      xmlhttp2=new XMLHttpRequest();
    } else { // code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      xmlhttp2=new ActiveXObject("Microsoft.XMLHTTP");      
    }
    xmlhttp.open("GET","countcis?organism="+p0+"&model="+p1+"&inreac="+p2+"&exreac="+p3+"&mby="+p4+"&mpy="+p5+"&scen="+p6+"&mustin="+mustin+"&forbidden="+forbidden,true);

    xmlhttp.onreadystatechange=function() {
      if (this.readyState==4 && this.status==200) {
        document.getElementById("txtHint").innerHTML=this.responseText;
      }
    };
    xmlhttp.onerror=function() {
      console.log("An error occurred.");
      console.log("readyState: ",this.readyState);
      console.log("status: ",this.status);
    };
    xmlhttp.send();    
    
    xmlhttp2.open("GET","getcis?organism="+p0+"&model="+p1+"&inreac="+p2+"&exreac="+p3+"&mby="+p4+"&mpy="+p5+"&scen="+p6+"&mustin="+mustin+"&forbidden="+forbidden,true);
    xmlhttp2.onreadystatechange=function() {
      if (this.readyState==4 && this.status==200) {
        document.getElementById("misResults").innerHTML=this.responseText;
      }
    };
    xmlhttp2.onerror=function() {
      console.log("An error occurred.");
      console.log("readyState: ",this.readyState);
      console.log("status: ",this.status);
    };

    xmlhttp2.send();
  }
  function more( sql_offset, mis_offset, max_mis) {
    document.getElementById("moreb1").disabled = true;
    
    console.log("sql_offset:",sql_offset);
    console.log("mis_offset:",mis_offset);
    console.log("max_mis:",max_mis);
    if (mis_offset == max_mis ){ return;}

    var p0 = document.getElementById("organism").value;
    var p1 = document.getElementById("p1").value;
    var p2 = document.getElementById("p2").value;
    var p3 = document.getElementById("p3").value;
    var p4 = document.getElementById("p4").value;
    var p5 = document.getElementById("p5").value;
    var p6 = document.getElementById("p6").value;
    var mustin = document.getElementById("mustin").value;
    var forbidden = document.getElementById("forbidden").value;
    if (window.XMLHttpRequest) {
      // code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
    } else { // code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.open("GET","getcism?organism="+p0+"&model="+p1+"&inreac="+p2+"&exreac="+p3+"&mby="+p4+"&mpy="+p5+"&scen="+p6+"&mustin="+mustin+"&forbidden="+forbidden+"&offset="+sql_offset+"&mis_offset="+mis_offset+"&num_sets="+max_mis,true);
    
    xmlhttp.onreadystatechange=function() {
      if (this.readyState==4 && this.status==200) {
      
//         var mydiv = document.getElementById("misResults");
//         var newcontent = document.createElement('div');
//         while (newcontent.firstChild) {
//             mydiv.appendChild(newcontent.firstChild);
//         }
    var parent = document.getElementById("misResults");
    var child = document.getElementById("moreb1");
    parent.removeChild(child);

        newcontent = document.getElementById("misResults").innerHTML + this.responseText;
        document.getElementById("misResults").innerHTML=newcontent
      }
    };
    xmlhttp.onerror=function() {
      console.log("An error occurred while transferring the file.");
      console.log("readyState: ",this.readyState);
      console.log("status: ",this.status);
    };

    xmlhttp.send();
  }

  </script>
  
</html>
