<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MECIS</title>
    ​<style> 
      .flex-column {
        display: flex;  
        flex-direction: column;
        padding: 0px; 
      }
      .flex-row {
        display: flex;  
        flex-direction: row;
        padding: 0px; 
      }
      header {
        background: #31011b;
        color: #ff55ff;
        padding-left: 10px; 
      }
      .nav {
        background:#eee; 
        padding: 15px; 
      }
      main {
        padding: 15px;
      }
      
      table {
          width: 100%;
          border-collapse: collapse;
      }
      table, td, th {
          border: 1px solid black;
          padding: 5px;
      }
      th {text-align: left;}
    </style>  
  </head>
  <body>
    
    ​<div class="flex-column">
      <header>
        <h1><img src="mecis_logo" alt="Mecis Logo"> KISS ME - web service</h1>
      </header>
      ​<div class="flex-row">
        <nav class="nav">
          <a href="#">About</a><br>
          <a href="#">Paris</a><br>
          <a href="#">Tokyo</a>
        </nav>
        <main>
          <p><b>Please select the parameters for the desired intervention set and press the submit button.</b></p>
          <form>
            <label>Organism:</label>
            <select id="organism">
              <option value="">Select an organism</option>
              {{#each organism}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label>Model name:</label>
            <select id="p1">
              <option value="None">Select a model</option>
              {{#each model}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <br><br>
            <label>Substrate intake reaction:</label>
            <select id="p2">
              <option value="None">Select a reaction</option>
              {{#each inreac}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label>Product excretion reaction:</label>
            <select id="p3">
              <option value="None">Select a reaction</option>
              {{#each exreac}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <br><br>
            <label>Min biomass yield:</label>
            <select id="p4">
              <option value="NaN">Select a value:</option>
              {{#each mby}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label>Min product yield:</label>
            <select id="p5">
              <option value="NaN">Select a value:</option>
              {{#each mpy}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label>Scenario:</label>
            <select id="p6">
              {{#each scen}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <br>
            <br>
            <label>These reactions must be included:</label> <input type="text" id="mustin" size=80 value=""><br>
            <label>These reactions are not allowed:</label> <input type="text" id="forbidden" size=80 value=""><br>
            <br>
            <br>
          </form>
          <button type="button" onclick="showCIS()">Submit Query!</button> 
          <div id="txtHint"><br><b>Intervention set info will be listed here.</b></div>
          <div id="dlbutton"></div>
          <div id="misResults"></div>
        </main>
      </div> <!--row-->
    </div><!--column-->
  </body>
  <script>
  
    function showCIS() {
        var p0 = document.getElementById("organism").value;
        var p1 = document.getElementById("p1").value;
        var p2 = document.getElementById("p2").value;
        var p3 = document.getElementById("p3").value;
        var p4 = document.getElementById("p4").value;
        var p5 = document.getElementById("p5").value;
        var p6 = document.getElementById("p6").value;
        var mustin = document.getElementById("mustin").value;
        var forbidden = document.getElementById("forbidden").value;
        
        if (p0=="") {
            document.getElementById("txtHint").innerHTML="<p>You need to select an organism!</p>";
            return;
        }
        document.getElementById("txtHint").innerHTML="<br>Processing query ..";
        document.getElementById("misResults").innerHTML="<br>Please wait!";
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
                
        xmlhttp.open("GET","getcis?organism="+p0+"&model="+p1+"&inreac="+p2+"&exreac="+p3+"&mby="+p4+"&mpy="+p5+"&scen="+p6+"&mustin="+mustin+"&forbidden="+forbidden,true);
        xmlhttp.onreadystatechange=function() {
            if (this.readyState==4 && this.status==200) {
                res = JSON.parse(this.responseText);
                document.getElementById("txtHint").innerHTML="<br>"+res.max_mis+" intervention sets found!";
                var content = "";
                if (res.max_mis!=0) {                
                    var button = document.createElement("INPUT");
                    button.setAttribute("type","button");
                    if (res.max_mis > 1000) {
                        button.setAttribute("value","Download as CSV (max 1000)");
                    }
                    else {
                        button.setAttribute("value","Download as CSV");
                    }
                    button.setAttribute("onclick", "savecis()");
                    document.getElementById("txtHint").appendChild(button);
                
                    content = "<p>Intervention sets <b>"+ res.mis_offset+"</b> to <b>"+res.end_mis+"</b>:</p><br><table><tr><th>Organism</th><th>Model name</th><th>Substrate intake reaction</th><th>Product excretion reaction</th><th>Min biomass yield</th><th>Min product yield</th><th>Scenario</th><th>Intervention set</th></tr>";
                    for (i =0; i < res.mis.length; i++) {
                        content += "<tr>"+res.mis[i]+"</tr>";
                    }                
                    content+='</table>';
                    
                    if (res.end_mis < res.max_mis) {
                        content+='<button id="moreb1" type="button" onclick="more('+res.col_offset+','+res.end_mis+','+res.max_mis+')">More</button>';
                    }
                }
                document.getElementById("misResults").innerHTML=content
            }
        };
        xmlhttp.onerror=function() {
            console.log("An error occurred.");
            console.log("readyState: ",this.readyState);
            console.log("status: ",this.status);
        };
        xmlhttp.send();
    }

    function more( col_offset, mis_offset, max_mis) {
        document.getElementById("moreb1").disabled = true;
        if (mis_offset == max_mis ){            
            var parent = document.getElementById("misResults");
            var child = document.getElementById("moreb1");
            parent.removeChild(child);
            return;
        }

        var p0 = document.getElementById("organism").value;
        var p1 = document.getElementById("p1").value;
        var p2 = document.getElementById("p2").value;
        var p3 = document.getElementById("p3").value;
        var p4 = document.getElementById("p4").value;
        var p5 = document.getElementById("p5").value;
        var p6 = document.getElementById("p6").value;
        var mustin = document.getElementById("mustin").value;
        var forbidden = document.getElementById("forbidden").value;
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("GET","getcism?organism="+p0+"&model="+p1+"&inreac="+p2+"&exreac="+p3+"&mby="+p4+"&mpy="+p5+"&scen="+p6+"&mustin="+mustin+"&forbidden="+forbidden+"&col_offset="+col_offset+"&mis_offset="+mis_offset+"&max_mis="+max_mis,true);
        
        xmlhttp.onreadystatechange=function() {
            if (this.readyState==4 && this.status==200) {
                res = JSON.parse(this.responseText);

                var parent = document.getElementById("misResults");
                var child = document.getElementById("moreb1");
                parent.removeChild(child);

                var content = parent.innerHTML + "<p>Intervention sets <b>"+ res.mis_offset+"</b> to <b>"+res.end_mis+"</b>:</p><br><table><tr><th>Organism</th><th>Model name</th><th>Substrate intake reaction</th><th>Product excretion reaction</th><th>Min biomass yield</th><th>Min product yield</th><th>Scenario</th><th>Intervention set</th></tr>";
                for (i =0; i < res.mis.length; i++) {
                    content += "<tr>"+res.mis[i]+"</tr>";
                }
                content+='</table>';
                
                if (res.end_mis < res.max_mis) {
                    content+='<button id="moreb1" type="button" onclick="more('+res.col_offset+','+res.end_mis+','+res.max_mis+')">More</button>';
                }                
                document.getElementById("misResults").innerHTML=content
            }
        };
        xmlhttp.onerror=function() {
            console.log("An error occurred while transferring the file.");
            console.log("readyState: ",this.readyState);
            console.log("status: ",this.status);
        };
        xmlhttp.send();
    }
    
    function savecis() {
        var p0 = document.getElementById("organism").value;
        var p1 = document.getElementById("p1").value;
        var p2 = document.getElementById("p2").value;
        var p3 = document.getElementById("p3").value;
        var p4 = document.getElementById("p4").value;
        var p5 = document.getElementById("p5").value;
        var p6 = document.getElementById("p6").value;
        var mustin = document.getElementById("mustin").value;
        var forbidden = document.getElementById("forbidden").value;
        
        if (p0=="") {
            document.getElementById("txtHint").innerHTML="<p>You need to select an organism!</p>";
            return;
        }
         if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP"); 
        }
        xmlhttp.open("GET","getcsv?organism="+p0+"&model="+p1+"&inreac="+p2+"&exreac="+p3+"&mby="+p4+"&mpy="+p5+"&scen="+p6+"&mustin="+mustin+"&forbidden="+forbidden,true);

        xmlhttp.onreadystatechange=function() {
            if (this.readyState==4 && this.status==200) {
                newWindow = window.open("data:text/csv," + encodeURIComponent(this.responseText), "mecisresults.csv");
            }
        };
        xmlhttp.onerror=function() {
            console.log("An error occurred.");
            console.log("readyState: ",this.readyState);
            console.log("status: ",this.status);
        };
        xmlhttp.send();    
    }
  </script>
  
</html>
