
 <p>Intervention sets <b>{{mis_offset}}</b> to <b>{{end_mis}}</b>:</p>
   <br>
   <table>
     <tr>
       <th>Organism</th>
       <th>Model name</th>
       <th>Substrate intake reaction</th>
       <th>Product excretion reaction</th>
       <th>Min biomass yield</th>
       <th>Min product yield</th>
       <th>Scenario</th>
       <th>Intervention set</th>
     </tr>
     {{#each mis}}
     <tr>
       {{{this}}}
     </tr>
     {{/each}}
   </table>
   <button id="moreb1" type="button" onclick="more({{sql_offset}},{{end_mis}},{{max_mis}})">More</button>

